.progress-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total-duration {
    width: 1280px;
    height: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress {
   height: 10px;
   background-color: #3184c3;
}
.time-info {
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.time-info span {
    font-size: 24px;
    color: white;
    margin-top: 6px;
}