.home-button {
    font-size: 40px ;
    width: 300px !important;
    height: 125px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center!important;
    padding: 20px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.home-button-focused {
    font-size: 40px;
    width: 300px !important;
    height: 125px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center!important;
    background-color: #3184c3;
    padding: 20px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}