.loader-player-container{
    display: flex;
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(0, 0, 0);
    z-index: 4;
    justify-content: center !important;
    align-items: center !important;
}

.loader-player {
    display: block;
    content: "";
    margin: 30px;
    width: 70px;
    height: 70px;
    border-radius: 52.5px;
    border-top: 8px solid #CCCCCC;
    border-right: 8px solid #CCCCCC;
    border-bottom: 8px solid #CCCCCC;
    border-left: 8px solid #FFF;
    animation: 1.2s linear 0s infinite normal none running spin;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}