.controls-and-progress-bar {
    position: relative;
    background-color: transparent;
    z-index: 3;
}

.controls-outer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1280px !important;
    height: 200px !important;
}

.controls-inner{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    height: 200px !important;
    width: 1280px !important;
}

.controls-button {
    width: 200px !important;
    height: 80px !important;
    margin: 0px 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.controls-button-focused {
    width: 200px !important;
    height: 80px !important;
    margin: 0px 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.rewind-seekrate{
    margin-left: 8px;
}

.fast-forward-seekrate {
    margin-right: 8px;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
    animation-fill-mode: forwards
}

.seekrate {
    font-size: 30px;
    font-weight: bolder
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-out {
	opacity: 1;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
    animation-fill-mode: forwards
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

