.home-outer {
    width: 400px !important;
    height: 125px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center!important;
}

.home-inner {
    width: 400px !important;
    height: 125px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center!important;
}

.home-button {
    font-size: 40px ;
    width: 400px !important;
    height: 125px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center!important;
    padding: 20px;
}

.home-button-focused {
    font-size: 40px;
    width: 400px !important;
    height: 125px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center!important;
    background-color: #3184c3;
    color: white;
    padding: 20px;
}