.home-outer {
    width: 1920px !important;
    height: 200px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center!important;
}

.home-inner {
    width: 800px !important;
    height: 200px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center!important;
    align-items: center!important;
}