#videoPlayer{
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 1920px;
    height: 1080px;
}

.player-controller {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}